@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:wght@300;400;600&display=swap');

:root {
  font-family: 'Bebas Neue', sans-serif, 'Work Sans';
  line-height: 1.5;
  font-weight: 400;
  background-color: #fff3f3; 
  color: rgba(0, 0, 0, 0.87); 
  font-weight:lighter;
}

body {
  margin: 0;
  place-items: center; 
  min-width: 320px;
  min-height: 100vh; 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
